Flask==2.2.5
flask-socketio==5.5.1
eventlet==0.33.3
flask-sqlalchemy==3.0.5
Flask-Migrate==4.0.4
openai==0.27.2
python-dotenv==0.21.1
flask-bcrypt
flask-login
Flask-Principal
email-validator
flask-wtf
google-api-python-client 
google-auth 
google-auth-oauthlib
dropbox==11.36.0
gunicorn==21.2.0
psycopg2-binary